*.aab
*.jks
*.p12
*.key
*.iml
*.mobileprovision
*.orig.*
npm-debug.*

.project
.DS_Store

yarn.lock
Podfile.lock
Gemfile.lock
package-lock.json
local.properties

node_modules/**/*

/.expo
/.idea
/node_modules
/web-build
/web-report

/ios/*.xcarchive
/ios/*.ipa

/ios/Pods
/ios/build
/ios/ripe-robin.xcworkspace
/ios/ripe-robin.xcodeproj/xcuserdata
/ios/ripe-robin.xcodeproj/project.xcworkspace

/ios/fastlane/README.md
/ios/fastlane/report.xml

/android/.idea
/android/.gradle

/android/app/bin
/android/app/build

/android/fastlane/README.md
/android/fastlane/report.xml

/android/fastlane/metadata

!certs/distribution/*
!profiles/appstore/*
!profiles/distribution/*
